.layout{
    display: grid;
    gap: .5rem;
    width: 100%;
    height: 100%;
    position: reltaive;

    grid-template-rows: 5rem 1fr 1fr;
    grid-template-columns: 300px 4fr 300px;
    background: #eee;

    grid-template-areas: 
        "info canvas download"
        "elements canvas creator"
        "editor canvas creator"
    ;

    &__canvas{
        grid-area: canvas;
        background: #ddd;
    }

    &__elements{
        grid-area: elements;
        background: #ddd;
        overflow-y: auto;
    }

    &__creator{
        grid-area: creator;
        background: #ddd;
    }

    &__editor{
        grid-area: editor;
        background: #ddd;
    }

    &__info{
        grid-area: info;
        background: #ddd;
    }

    &__download{
        grid-area: download;
        background: #ddd;
        
    }
}