.active-object{
    border: 2px dashed #333;
    width: 100px;
    height: 100px;
    left: 0;
    position: absolute;
    display: none;
    cursor: pointer;
    box-sizing: border-box;

    &__content{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    &__handle{
        border: 1px solid #666;
        background: #fff;
        width: 14px;
        height: 14px;
        box-sizing: border-box;
        position: absolute;
        z-index: 5;


       
    }

    &__rotation-handle{
        border: 1px solid #666;
        background: #fff;
        width: 14px;
        height: 14px;
        box-sizing: border-box;
        position: absolute;
        border-radius: 50%;
        top: -2rem;
        left:50% ;
        transform: translateX(-50%);
        z-index: 5;

        &:hover{
            cursor: pointer;
        }
    }
}