*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html, body{
    height: 100%;
    width: 100%;
}

#root, .App{
    height: 100%;
    width: 100%;
}


.form-input{
    display: flex;
    font-size: .7rem;
    align-items: center;
    &> *{
        margin-right: .3rem;
    }
}

.mt{
    margin-top: 1rem;

    &--2{
        margin-top: 2rem;
    }
}

.p{
    padding: 1rem;
}

.ui-panel{
    background: #333;
    height: 100%;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}